#customize-pizza-form {
  display: none;
  text-align: center;
  vertical-align: middle;
  text-decoration-color: honeydew;
  font-size: 150%;
  font-weight: 200
}

#order-now {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#title-jumbotron {
  margin-top: 5%;
  background: none;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#form-jumbotron {
  background: none;
  margin-top: 10%;  
}

#small-title-text {
  color:white;
}

#title-container {
  color: white;
}

body {
  background-image: url("https://bit.ly/3hIUBdo");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#card {
  width: 400px;
  height: 500px;
  border: 15px solid white;
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
  margin: auto;
  border: 6px solid #c24848;
  padding: 10px;
}

#receipt-title {
  color: white;
  display: none;
}

#card {
  display: none;
  margin-top: 5%;
  font-weight: 200;
  font-size: 130%;
}

